<div class="jumbotron center">
<h1>Classifieds in your browser</h1>
<p>
	<%= link_to "Post", "#", class:"btn btn-warning btn-lg" %>
	<%= link_to "Read", "#", class:'btn btn-default btn-lg' %>
</p>
</div>